DISCORD_WEBHOOK_URL=
DISCORD_WEBHOOK_URL_ORDER=

# 取引所API設定
BINANCE_API_KEY=
BINANCE_SECRET=

BYBIT_API_KEY=
BYBIT_SECRET=

MEXC_API_KEY=
MEXC_SECRET=

KUCOIN_API_KEY=
KUCOIN_SECRET=

ZAIF_API_KEY=
ZAIF_SECRET=

FEATURE_FLAG_ENABLE_ORDER=true